@model Trifo_Inventory_Management_.Models.selled_product

@{
    ViewBag.Title = "Sell";

}<head>


    <title>@ViewBag.Title - Your App Name</title>
    <link href="~/Content/invstl.css" rel="stylesheet" />
</head>

<h2>Sell</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>selled_product</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label for="Spid">Select an item to sell:</label>
        <select id="sPid" name="sPid">
            <option value="">--Select Item--</option>
            @foreach (var item in ViewBag.inventory)
            {
                <option value="@item.Pid">@item.Pid</option>
            }
        </select>
    </div>

    <div class="form-group">
        pname
        <label for="id">Select an NAME to sell:</label>
        <select id="sProduct_name" name="sProduct_name">
            <option value="">--Select Item--</option>
            @foreach (var item in ViewBag.inventory)
            {
                <option value="@item.Product_name">@item.Product_name</option>
            }
        </select>
    </div>






    
    <div class="form-group">
        <h3>Selling Price</h3>
        <div class="col-md-10">
            <input type="number" name="Sell_Price" class="form-control" value="">
            <span class="text-danger"></span>
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.sell_date, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sell_date, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sell_date, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <h3>Quantity</h3>
        <div class="col-md-10">
            <input type="number" name="Selled_Quantity" class="form-control" value="">
            <span class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Customer_name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Customer_name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Customer_name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CustomerEmail, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CustomerEmail, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CustomerEmail, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Customer_mobiler, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Customer_mobiler, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Customer_mobiler, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>


    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>}



@*<label>Select an Item:</label>
<select id="itemDropdown" name="itemId">
    <option value="">--Select Item--</option>
    @foreach (var item in ViewBag.inventory)
    {
        <option value="@item.pid">@item.Product_name</option>
    }
</select>

<label>Item Name:</label>
<span id="itemName"></span>

<script>
    $(function() {
        $('#itemDropdown').on('change', function() {
            var itemId = $(this).val();
            var itemName = '';

            // loop through the items to find the selected item's name
            @foreach (var item in ViewBag.inventory)
            {
                if (item.Pid == itemId) {
                    itemName = item.Product_name;
                    break;
                }
            }

            $('#itemName').text(itemName);
        });
    });
</script>*@