@model IEnumerable<Trifo_Inventory_Management_.Models.ef.Shop>

@{
    ViewBag.Title = "Viewshop";
}

<h2>Viewshop</h2>
<style>
    .avatar {
        vertical-align: middle;
        position: relative; /* or any other valid position value */
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
</style>
<p>
    @Html.ActionLink("Create New", "AddToshop")
</p>
<table class="table" border="0" >
    <tr>
        <th>
            <h3> Product name</h3>
        </th>
        <th>
            <h3> Country</h3>
        </th>
        <th>
            <h3> Description</h3>
        </th>
        <th>
            <h3>Buy Price</h3>
        </th>
        <th>
            <h3> Sell price</h3>
        </th>
        <th>
            <h3> Picture</h3>
        <th>
            <h3>sell_date</h3>
        </th>
        <th>
            <h3>Selled_Quantity</h3>
        </th>
        <th>
            <h3>Customer_name</h3>
        </th>
        <th>
            <h3>CustomerEmail</h3>
        </th>
        <th>
            <h3>Customer_mobiler</h3>
        </th>
        <th>
            <h3>STOCK</h3>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.sProduct_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Buy_Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sell_Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sPicture)
            <img src="@Url.Content(item.sPicture)" alt="Image Description" />

            <img src="@item.sPicture" alt="" class="avatar">
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sell_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer_mobiler)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stock)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Shop_prd_id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Shop_prd_id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Shop_prd_id })
        </td>
    </tr>
}

</table>
