@model IEnumerable<Trifo_Inventory_Management_.Models.ef.Shop>

@{
    ViewBag.Title = "Viewshop";
}

<h2>Viewshop</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sProduct_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Buy_Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sell_Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sPicture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sell_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Selled_Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer_mobiler)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.sProduct_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Buy_Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sell_Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sPicture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sell_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Selled_Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer_mobiler)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Shop_prd_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Shop_prd_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Shop_prd_id })
        </td>
    </tr>
}

</table>
